.history
{
    height: 40vh;
    width: 99vw;
   
    display: flex;
    flex-direction: row;
}
.historyc
{
    height: 100%;
    width: 20%;
}
.imagei
{
    border-radius: 50%; 
}


.about1
{
   
}

